<div class="contentBtns">
    <div class="row">
        <div class="col-md-12">
            <button class=" btn btnCotizador" ng-click="descargarPDF(pkt)">
                IMPRIMIR COTIZACIÓN
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class=" btn btnCotizador" ng-click="enviarCotEmail(pkt)">
                Enviar Por Email
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class=" btn btnCotizador" ui-sref="cotizadorgen.emitir({idSolicitud:idSolicitud,idCotizacion:pkt.CotizacionId,numero:pkt.Numero})">
                EMITIR
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
