<div style="overflow-y: auto; height:350px;">
    <table class="table tableCob" style="width: 100% !important">
        <thead>
        <td><p class="labelOrange">COBERTURAS</p></td>
        <td><p class="labelOrange">SUMA ASEGURADA</p></td>
        <td><p class="labelOrange">DEDUCIBLE</p></td>
        </thead>
        <tr ng-repeat="cob in pkt.ListaCoberturasModel | filter:{isfija:1}:true ">
            <td nowrap>
                <a uib-popover-template="leyendaCobPopover.templateUrl" popover-trigger="'mouseenter'" popover-placement="right">
                    <span ng-if="cob.Homologacion=='' || cob.Homologacion==null ">{{cob.Nombre}}:</span>
                    <span ng-if="cob.Homologacion!=''">{{cob.Homologacion}}:</span>
                    <a />
            </td>
            <td nowrap>{{numberFormat(cob.SumaAsegurada)}}</td>
            <td nowrap>{{cob.Deducible}}</td>
        </tr>
        <tr>
            <td colspan="4">
                <div>
                    <hr class="lineaDoble" />
                </div>
            </td>
        </tr>
        <tr ng-repeat="cob in pkt.ListaCoberturasModel | filter:{isfija:0}:true">
            <td nowrap>
                <a uib-popover-template="leyendaCobPopover.templateUrl" popover-trigger="'mouseenter'" popover-placement="right">
                    <span ng-if="cob.Homologacion=='' || cob.Homologacion==null ">{{cob.Nombre}}:</span>
                    <span ng-if="cob.Homologacion!=''">{{cob.Homologacion}}:</span>
                    <a />
            </td>
            <td nowrap>{{numberFormat(cob.SumaAsegurada)}}</td>
            <td nowrap>{{cob.Deducible}}</td>
        </tr>

    </table>
</div>