.container
	.text-center
		h1 Estas en la vista home.html
	.text-left
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	.form-group
		.text-center
			input(type="text", ng-model="msg")#msg.form-control
			h4
				label {{msg}}
			button(ng-click="goIndex()").btn.btn-primary Ir al Index
	//Inicia el paginador
	.form-group
		.text-center
			h2.text-center Paginador
			.form-group
				input(type="text", ng-model="fruta").form-control
			button(ng-click="agregarFruta()").btn.btn-success Agregar
			button(ng-click="eliminarFruta()").btn.btn-danger Eliminar
	.form-group
		.table-responsive
			table.table.table-hover.table-condensed.table-striped
				tr(dir-paginate="item in listaFrutas | itemsPerPage: 10")
					td {{ item.nombre }}
					td {{ item.nombre }}
					td {{ item.nombre }}
					td {{ item.nombre }}
			dir-pagination-controls
	//Inicia el modal
	.form-group
		.text-center
			h2 Modal
			button(ng-click="toggleModal()").btn.btn-primary Mostrar modal
		modal(visible="showModal", title='Modal de prueba')#modal
			.form-group
				alert(type="info", show="true", dismissable="false").text-left.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.form-group.text-right
				button(ng-click="toggleModal()").btn.btn-danger Close
	//Inicia el panel
	.form-group
		.text-center
			h2.text-center Panel
		panel(title="Titulo del panel", type="default", footer="Pie del panel")
			alert(type="info", show="true", dismissable="true")
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	//Inicia el callout
	.form-group
		.text-center
			h2.text-center Callouts
		callout(type="danger")
			h3.text-danger Callout
			alert(type="warning", show="true", dismissable="true")
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	//Inicia las notificaciones
	.form-group
		.text-center
			h2 Notificaciones
			button(ng-click="showNotifications()").btn.btn-primary Mostrar Notificaciones
