
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/json" ; charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <!--       <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
          <!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
          <meta http-equiv="Content-Type" content="text/html; charset=utf8_spanish_ci" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-callouts.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-block-ui/dist/angular-block-ui.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css">
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css" />
    <!-- Styles  -->
    <link rel="stylesheet" type="text/css" href="assets/css/login-app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/am.css">
    <link rel="stylesheet" type="text/css" href="assets/css/configurador.css">  

    <div class="form-group">
        <label class="col-lg-2 control-label">Producto</label>
        <div class="col-lg-10">
            <select class="comboBox" name="productoModal" id="productoModal" ng-model="Productos.NombreProducto"
                    ng-change="productosSel()"
                    ng-options="producto as producto.NombreProducto for producto in productos track by producto.ProductoId">
                <option value="" selected>Seleccionar</option>

            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Nombre</label>
        <div class="col-lg-10">
            <!--<select class="comboBox" name="cliente" id="cliente" required></select>-->
            <input type="text" class="inputText" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Tipo auto</label>
        <div class="col-lg-4">
            <select class="comboBox" name="tipoAuto" id="tipoAuto" ng-model="Elementos.Nombre"
                    ng-change="tipoAutosSel()"
                    ng-options="tipoAuto as tipoAuto.Nombre for tipoAuto in elementos track by tipoAuto.ElementoId">
                <option value="" selected>Seleccionar</option>
            </select>
        </div>
        <label class="col-lg-2 control-label">Nuevo</label>
        <div class="col-lg-4">
            <select class="comboBox" name="nuevo" id="nuevo" ng-model="ElementosNuevo.Nombre"
                    ng-change="esNuevoSel()"
                    ng-options="nuevo as nuevo.Nombre for nuevo in elementosNuevo track by nuevo.ElementoId">
                <option value="" selected>Seleccionar</option>

            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Servicio</label>
        <div class="col-lg-4">
            <select class="comboBox" name="tipoServicio" id="tipoServicio" ng-model="ElementosServicio.Nombre"
                    ng-change="tipoServicioSel()"
                    ng-options="tipoServicio as tipoServicio.Nombre for tipoServicio in elementosServicio track by tipoServicio.ElementoId">
                <option value="" selected>Seleccionar</option>
            </select>
        </div>
        <label class="col-lg-2 control-label">Tipo seguro</label>
        <div class="col-lg-4">
            <select class="comboBox" name="tipoSeguro" id="tipoSeguro" ng-model="ElementosSeguro.Nombre"
                    ng-change="tipoSeguroSel()"
                    ng-options="tipoSeguro as tipoSeguro.Nombre for tipoSeguro in elementosSeguro track by tipoSeguro.ElementoId">
                <option value="">Seleccionar</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Cargo en linea</label>
        <div class="col-lg-4">
            <select class="comboBox" name="cargo" id="cargo" ng-model="ElementosCargoLinea.Nombre"
                    ng-change="cargoLineaSel()"
                    ng-options="cargo as cargo.Nombre for cargo in elementosCargoLinea track by cargo.ElementoId">
                <option value="" selected>Seleccionar</option>
            </select>
        </div>
        <div class="col-lg-4 col-md-offset-2">
            <img src="assets/img/configurador/lapiz.png" class="img-responsive" data-toggle="modal" data-target="#cargoLineaModal">
        </div>
    </div>
   

<script src="bower_components/requirejs/require.js" data-main="app/main"></script>