
<div class="container" ng-init="init()">
    <div class="text-center">
        <h1>Estas en la vista home.html</h1>
    </div>
    <div class="text-left">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="form-group">
        <div class="text-center">
            <input type="text" ng-model="msg" id="msg" class="form-control" />
            <h4>
                <label>{{msg}}</label>
            </h4>
        </div>
    </div>




    <div class="form-group">
        <div class="text-center">

            <label for="status">Descarga de reporte Excel:</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-model="filtroFechas" ng-options="y.ValorFiltro for (x, y) in TipofiltroFecha"></select>

        </div>


    </div>


    <a id="exportReporte" ng-click="exportarExcelMail()">
        <input type="button" class="btn btn-info" value="Descargar Reporte" />
    </a>
</div>









<div class="form-group">
    <div class="text-center">
        <h2>FileUpload</h2>
    </div>
    <callout type="info">
        <div class="row">
            <div class="col-md-12">

                <!--<h3>Seleccione Archivos</h3>-->
                <!--Varios
                <input type="file" nv-file-select="" uploader="uploader" multiple /><br />-->
                <!--Uno solo-->
                <input type="file" nv-file-select="" uploader="uploader" />
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Subir</button>
            </div>
            <!--<div class="col-md-12">
                <h3>Cola de archivos a subir</h3>
                <p>Cantidad de archivos: {{ uploader.queue.length }}</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Nombre</th>
                            <th ng-show="uploader.isHTML5">Tama&ntilde;o</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td nowrap>
                                <a ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="glyphicon glyphicon-upload text-success"></span></a>
                                <a ng-click="item.remove()"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Subir todo
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar todo
                    </button>
                </div>
            </div>-->
        </div>
    </callout>
</div>
<div class="form-group">
    <div class="text-center">
        <h2>AJAX</h2>
    </div>
    <callout type="info">
        <h3 class="text-info">POST - SingleResponse</h3>
        <div class="form-group">
            <alert type="success" show="true" dismissable="false">
                <div class="text-justify">
                    <p>
                        El siguiente 'combo' de Productos, se carg&oacute; mediante una petici&oacute;n ajax por el metodo POST al servicio
                        rest /api/Cotizador/ConsultarProductosCliente.
                    </p>
                    <p>
                        Esta petici&oacute;n pasa por todas las capas del aplicativo:
                        <ul>
                            <li><b>FrontEnd-AngularJS</b></li>
                            <ul>
                                <li>Controller</li>
                                <li>RequestService(componente centralizado de peticiones ajax)</li>
                                <li>MappingService(mapeo del servicio)</li>
                            </ul>
                            <li><b>BackEnd-API</b></li>
                            <ul>
                                <li>RESTService</li>
                                <li>Business(logica de negocio)</li>
                                <li>DataAccess</li>
                                <li>Commons</li>
                                <li>ZERO(componente de consultas)</li>
                                <li>SingleResponse</li>
                            </ul>
                        </ul>
                    </p>
                </div>
            </alert>
            <select name="singleSelect" id="singleSelect" ng-model="producto" class="form-control">
                <option ng-repeat="producto in productos" value="{{producto.ProductoId}}">{{producto.NombreProducto}}</option>
            </select>
        </div>
    </callout>
</div>
<div class="form-group">
    <div class="text-center">
        <h2>Autocomplete AJAX</h2>
    </div>
    <callout type="info">
        <h3 class="text-info">POST - SingleResponse</h3>
        <div class="form-group">
            <alert type="success" show="true" dismissable="false">
                <div class="text-justify">
                    <p>
                        La siguiente 'caja de texto' es&aacute; utilizando la directiva de tipo atributo 'autocomplete', al escribir en dicho campo se carg&oacute; mediante una petici&oacute;n ajax por el metodo POST al servicio
                        rest /api/Cotizador/ConsultarProductosCliente.
                    </p>
                    <p>
                        Esta petici&oacute;n pasa por todas las capas del aplicativo:
                        <ul>
                            <li><b>FrontEnd-AngularJS</b></li>
                            <ul>
                                <li>Controller</li>
                                <li>RequestService(componente centralizado de peticiones ajax)</li>
                                <li>MappingService(mapeo del servicio)</li>
                            </ul>
                            <li><b>BackEnd-API</b></li>
                            <ul>
                                <li>RESTService</li>
                                <li>Business(logica de negocio)</li>
                                <li>DataAccess</li>
                                <li>Commons</li>
                                <li>ZERO(componente de consultas)</li>
                                <li>SingleResponse</li>
                            </ul>
                        </ul>
                    </p>
                </div>
            </alert>
            <!--<input type="text" class="form-control" id="autocompletsse" ng-model="cotizadorModel.ClienteModel.ClienteId"/>-->
            <input type="text" class="form-control" id="autocomplete"
                   ng-model="cotizadorModel.ClienteModel.ClienteId"
                   autocomplete urlautocomplete="{{urlautocomplete}}"
                   minlength="{{minlength}}" params="{{cotizadorModel}}"
                   issingleresponse="true"
                   targetmodel="targetModelo"
                   itemlabel="{{itemLabelAutocomplete}}"
                   itemvalue="{{itemValueAutocomplete}}" />
            <h4>
                <label>TargetModelo: {{targetModelo}}</label>
            </h4>
        </div>
    </callout>
</div>
<!--Inicia el paginador-->
<div class="form-group">
    <div class="text-center">
        <h2 class="text-center">Paginador</h2>
        <div class="form-group">
            <input type="text" ng-model="fruta" class="form-control" />
        </div>
        <button ng-click="agregarFruta()" class="btn btn-success">Agregar</button>
        <button ng-click="eliminarFruta()" class="btn btn-danger">Eliminar</button>
    </div>
</div>
<div class="form-group">
    <div class="table-responsive">
        <table class="table table-hover table-condensed table-striped">
            <tr dir-paginate="item in listaFrutas | itemsPerPage: 10">
                <td>{{ item.nombre }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.nombre }}</td>
            </tr>
        </table>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
<!--Inicia el modal-->
<div class="form-group">
    <div class="text-center">
        <h2>Modal</h2>
        <button ng-click="toggleModal()" class="btn btn-primary">Mostrar modal</button>
    </div>
    <modal visible="showModal" title="Modal de prueba" id="modal" type="info">
        <div class="form-group">
            <alert type="info" show="true" dismissable="false" class="text-left">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </alert>
        </div>
        <div class="form-group text-right">
            <button ng-click="toggleModal()" class="btn btn-danger">Close</button>
        </div>
    </modal>
</div>
<!--Inicia el panel-->
<div class="form-group">
    <div class="text-center">
        <h2 class="text-center">Panel</h2>
    </div>
    <panel title="Titulo del panel" type="default" footer="Pie del panel">
        <alert type="info" show="true" dismissable="true">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </alert>
    </panel>
</div>
<!--Inicia el callout-->
<div class="form-group">
    <div class="text-center">
        <h2 class="text-center">Callouts</h2>
    </div>
    <callout type="danger">
        <h3 class="text-danger">Callout</h3>
        <alert type="warning" show="true" dismissable="true">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </alert>
    </callout>
</div>
</div>