<div class="contentPanelReporte">
<style>
    .modal-header-info {
        color: #fff;
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #5bc0de;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>
<br/>
<div class="panel panel-primary">
    <div class="form-horizontal">
        <div class="widthContentPanelReporte">
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-striped">
                    <tr>
                        <td class="h3 text-info" colspan="5">Tickets</td>
                        <td align="right" colspan="3">{{today}}</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <input type="button" class="btn btn-info" value="Nuevo" ng-click="nuevoTicketsModal()"/>
                        </td>
                    </tr>
                </table>
                <table class=" table table-hover table-condensed table-striped">

                    <tr class="info">
                        <th>No.</th>
                        <th class="widthTitle_13">Fecha atención</th>
                        <th class="widthTitle_13">Fecha recepci&oacute;n</th>
                        <th>Cliente</th>
                        <th>Carátula</th>
                        <th>Tipo de ticket</th>
                        <th>Responsable</th>
                        <th>Aseguradora</th>
                        <th>Estatus</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                    <tr ng-repeat="tre in gestionTickets">
                        <!--Se agrega link para dar seguimiento al ticket-->
                        <td>
                            <a ui-sref="seguimientoTickets({TicketId:tre.TicketId,isCarga:1})">{{ tre.TicketId }}</a>
                        </td>
                        <td class="fechaRegistro">{{tre.FechaRegistro | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
                        <td class="fechaRegistro">{{tre.FechaRecepcion | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
                        <td>{{ tre.NombreCliente }}</td>
                        <td>{{ tre.Caratula }}</td>
                        <td>{{ tre.Tipo }}</td>
                        <td>{{ tre.NombreCompletoResponsable}}</td>
                        <td>{{ tre.Nombre }}</td>
                        <td class="fechaRegistro text-success" ng-if="tre.ClaveEstatus === ESTATUS_REGISTRADO ||
                                       tre.ClaveEstatus === ESTATUS_PROCESO ||
                                       tre.ClaveEstatus === ESTATUS_TRAMITE">
                            {{ tre.DescripcionEstatus }}
                        </td>
                        <td class="fechaRegistro text-danger" ng-if="tre.ClaveEstatus === ESTATUS_INCOMPLETO ||
                                           tre.ClaveEstatus === ESTATUS_DOCUMENTACION">
                            {{ tre.DescripcionEstatus }}
                        </td>
                        <td class="fechaRegistro" ng-if="tre.ClaveEstatus !== ESTATUS_REGISTRADO &&
                                       tre.ClaveEstatus !== ESTATUS_PROCESO &&
                                       tre.ClaveEstatus !== ESTATUS_TRAMITE &&
                                       tre.ClaveEstatus !== ESTATUS_INCOMPLETO &&
                                       tre.ClaveEstatus !== ESTATUS_DOCUMENTACION">
                            {{ tre.DescripcionEstatus }}
                        </td>
                        <td uib-popover="{{ tre.DescripcionTicket }}" popover-trigger="'mouseenter'">Ver</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
    </div>
</div>
<div class="modal" id="datosContactoModal" title="Datos Contacto" style="overflow-y: scroll;">
    <div class="modal-dialog">
        <form id="datosContactoForm" name="datosContactoForm" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" ng-click="cerrrarDatosContactoModalIncompletos()">&times;</button>
                    <h4 class="modal-title">Datos Contacto</h4>
                </div>
                <div class="modal-body">
                    <table class="table" name="tableCliente">
                        <tr>
                            <th colspan="2" style="color: #f48132; font-size: 20px">
                                <label class="control-label">
                                    {{selectReportaA.OrigenTicket}}
                                </label>
                            </th>
                        </tr>
                        <tr ng-show="selectReportaA.OrigenTicket=='Agencia'">
                            <th>
                                <label class="control-label">
                                    * Agencias
                                </label>
                            </th>
                            <td ng-class="{'form-group has-feedback': isValidoDatosContactoCliente && isDatosContactoClienteRequired,
                                                                   'form-group has-error has-feedback': !isValidoDatosContactoCliente,
                                                                   'form-group has-warning has-feedback': !isDatosContactoClienteRequired}">
                                <input type="text" class="form-control" id="datosContactoCliente" name="datosContactoCliente" ng-model="datosContactoCliente.NombreCliente"
                                       ng-readonly="enabletext" ng-required="true"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="19%">
                                <label class="control-label">
                                    * Nombre
                                </label>
                            </th>
                            <td width="81%" ng-class="{'form-group has-feedback': isValidoDatosContactoNombre && isDatosContactoNombreRequired,
                                                                               'form-group has-error has-feedback': !isValidoDatosContactoNombre,
                                                                               'form-group has-warning has-feedback': !isDatosContactoNombreRequired}">
                                <input type="text" class="form-control" id="datosContactoNombre" name="datosContactoNombre" ng-model="datosContactoNombre"
                                       ng-required="true" maxlength="50"/>
                                <span class="label label-warning">{{resultadoDatosContactoNombre}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="control-label">
                                    * Apellidos
                                </label>
                            </th>
                            <td ng-class="{'form-group has-feedback': isValidoDatosContactoApellidos && isDatosContactoApellidosRequired,
                                                                   'form-group has-error has-feedback': !isValidoDatosContactoApellidos,
                                                                   'form-group has-warning has-feedback': !isDatosContactoApellidosRequired}">
                                <input type="text" class="form-control" id="datosContactoApellidos" name="datosContactoApellidos" ng-model="datosContactoApellidos"
                                       ng-required="true" maxlength="50"/>
                                <span class="label label-warning">{{resultadoDatosContactoApellidos}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="control-label">
                                    * Tel&eacute;fono
                                </label>
                            </th>
                            <td ng-class="{'form-group has-feedback': isValidoDatosContactoTelefonos && isDatosContactoTelefonosRequired,
                                                                   'form-group has-error has-feedback': !isValidoDatosContactoTelefonos,
                                                                   'form-group has-warning has-feedback': !isDatosContactoTelefonosRequired}">
                                <input type="text" class="form-control" id="datosContactoTelefonos" name="datosContactoTelefonos" ng-model="datosContactoTelefonos"
                                       ng-required="true" maxlength="10" minlength="10"/>
                                <span class="label label-warning">{{resultadoDatosContactoTelefonos}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="control-label">
                                    * E-mail
                                </label>
                            </th>
                            <td ng-class="{'form-group has-feedback': isValidoDatosContactoEmail && isDatosContactoEmailRequired,
                                                                   'form-group has-error has-feedback': !isValidoDatosContactoEmail,
                                                                   'form-group has-warning has-feedback': !isDatosContactoEmailRequired}">
                                <input type="text" class="form-control" id="datosContactoEmail" name="datosContactoEmail" ng-model="datosContactoEmail" ng-required="true"/>
                                <span class="label label-warning">{{resultadoDatosContactoEmail}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="label label-warning">{{resultadoDatosContacto}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" ng-click="guardarDatosContacto()">Guardar</button>
                    <a ng-click="cerrrarDatosContactoModalIncompletos()" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="nuevoTicketsModal" role="dialog" title="Nuevo Tickets">
<div class="modal-dialog">
<form id="nuevoTicketsForm" name="gestionTicketsForm" novalidate>
<div class="modal-content">
<div class="modal-header modal-header-info">
    <button type="button" class="close" data-dismiss="modal" ng-click="cerrarNuevoTicketModal()">&times;</button>
    <h4 class="modal-title">Nuevo Ticket</h4>
</div>
<div class="modal-body">
<table class="table" style="table-layout: fixed">
<!-- <tr>
    <td width="15%">
        <label class="control-label">
            Cliente
        </label>
    </td>
    <td width="85%" ng-class="{'form-group has-feedback': isSelectClientesRequired,
                                                                               'form-group  has-warning has-feedback': !isSelectClientesRequired}">
        <select class="form-control"
                id="selectClientes"
                name="selectClientes"
                ng-model="selectClientes"
                ng-change="consultarSiEsClienteFlotillas()"
                ng-options="clientes as clientes.NombreCliente.toUpperCase() for clientes in clientes"
                ng-required="true">
            <option value="" disabled="disabled">---Seleccionar---</option>
        </select>
    </td>
</tr>-->
<tr>
    <td width="16%" ng-class="{'form-group has-feedback': isSelectClientesRequired,
        'form-group  has-warning has-feedback': !isSelectClientesRequired}">
        <label class="control-label">
            Cliente
        </label>
        <label class="labelRed"> *</label>
    </td>
    <td>
        <input width="84%" type="text" ng-required="true" class="form-control" id="clienteAutocomplete" ng-model="clienteAutocomplete"
               required/>
    </td>
</tr>
<tr ng-show="esClienteFlotillas">
    <td>
        <label class="control-label">
            Car&aacute;tula
        </label>
        <label class="labelRed"> *</label>
    </td>
    <td ng-class="{'form-group has-feedback': isSelectCaratulasRequired,
                                                                   'form-group has-warning has-feedback': !isSelectCaratulasRequired}">
        <select class="form-control" id="selectCaratulas" name="selectCaratulas" ng-disabled="disabledCaratula" ng-model="selectCaratulas"
                ng-options="caratulas as caratulas.PolizaCaratula +' - PAGO '+ caratulas.FormaPago.toUpperCase()+' - '+
                                                                                         caratulas.TipoString.toUpperCase() + ' - ' +
                                                                                         caratulas.TipoCobranzaString.toUpperCase()
                                                                            for caratulas in caratulas" ng-required="true">
            <option value="" disabled="disabled">---Seleccionar---</option>
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <label class="control-label">
            Tipo de ticket
        </label>
        <label class="labelRed"> *</label>
        <div ng-class="{'form-group has-feedback': isSelectTiposTicketRequired,
                                                                        'form-group has-warning has-feedback': !isSelectTiposTicketRequired}">
            <select class="form-control" id="selectTiposTicket" name="selectTiposTicket" ng-disabled="disabledTiposTicket" ng-model="selectTiposTicket"
                    ng-change="consultarResponsable()" ng-options="tiposTicket as tiposTicket.DescripcionTipoTicket.toUpperCase() + ' - ' + tiposTicket.HorasAtencion + ' Horas ' for tiposTicket in tiposTicket"
                    ng-required="true">
                <option value="" disabled="disabled">---Seleccionar---</option>
            </select>
        </div>
    </td>
</tr>

<!--<tr>
    <td colspan="2">
        Tipo de ticket
    </td>
</tr>-->

<!--<tr>
    <td colspan="2">
        Responsable
    </td>
</tr>-->
<tr ng-show="isResponsable">
    <td colspan="2">
        <div>
            <label class="control-label">
                Responsable
            </label>
            <label class="labelRed"> *</label>
        </div>
        <div>
            <span>{{responsable.NombreCompletoResponsable}}</span>
        </div>
    </td>
</tr>
<!--<tr>
    <td colspan="2">
        Descripci&oacute;n
    </td>
</tr>-->
<tr>
    <td colspan="2">
        <label class="control-label">
            <div>Descripci&oacute;n</div>
        </label>
        <label class="labelRed"> *</label>
        <div ng-class="{'form-group has-feedback': isValidaDescripcion && isDescripcionTextAreaRequired,
                                                                                'form-group has-error has-feedback': !isValidaDescripcion,
                                                                                'form-group has-warning has-feedback': !isDescripcionTextAreaRequired}">
            <textarea name="descripcionTextArea" id="descripcionTextArea" class="form-control panel-heading BordeGris" rows="3" cols="40"
                                            maxlength="500" ng-model="descripcionTextArea" uib-popover="{{resultadoDescripcion}}"
                                            popover-trigger="'mouseenter'" ng-blur="validarDescripcion()" ng-required="true"></textarea>
            <span class="label label-warning">{{resultadoDescripcion}}</span>
        </div>
    </td>
</tr>
<!--<tr >
    <td colspan="2">
        Subir archivo
    </td>
</tr>-->
<tr>
    <td colspan="2">
        <div class="row sinpadding">
            <div class="col-md-9">
                <div style="position: relative;" ng-class="{'form-group has-feedback': isArchivoRequired,
                'form-group has-warning has-feedback': !isArchivoRequired}">
                    <label class="control-label">
                        Subir archivo
                    </label>
                    <label class="labelRed"> *</label>
                    <!--<input type="file" id="file" name="file" ng-files="cargarArchivos($files)" multiple/>-->
                    <input type="file" id="file" name="file" nv-file-select="" ng-blur="subirArchivos()" uploader="uploader" style="position: absolute; left: 0px; z-index: 1; width: 97%;"/>
                    <span class="label label-warning" ng-if="!isArchivoRequired">Es necesario m&iacute;nimo un archivo</span>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td colspan="2">
        <div class="row">
            <div class="col-md-8" id="tableFile">
                <table class="table table-bordered">
                    <tr ng-repeat="item in Archivos">
                        <td>
                            <a class="text-danger" href="" ng-click="eliminarArchivo(item.IdArchivoTicket)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                        <td style="font-size: 15px">
                            <a ng-click="descargarArchivo(item.RutaArchivo+item.NombreArchivo, item.NombreArchivo)" download>
                                {{ item.NombreCorto }}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <label class="control-label text-info">
                    <span style="color: cornflowerblue; font-size: 14px;">
                        Se puede adjuntar hasta 10 Mb
                        Extensiones permitidas
                    </span>
                </label>
                <label class="control-label">
                    <span style="font-size: 12px;">
                        .xls, .xlsx, .doc, .docx, .zip, .gif, .jpg, .png, .xml, .msg y .pdf
                    </span>
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label class="control-label">
            Copiar a
        </label>
    </td>
    <td>
        <div class="row">
            <div class="col-md-7">
                <div ng-class="{'form-group has-feedback': isValidoEmail,
                                                                                'form-group has-error has-feedback': !isValidoEmail}">
                    <input type="text" ng-model="emailCopiarA" ng-blur="validarCorreo()" class="form-control" uib-popover="{{resultadoValidaEmail}}"
                           id="emailCopiarA" name="emailCopiarA"/>
                </div>
            </div>
            <div class="col-md-5">
                <label class="control-label">
                    <span style="font-size: 12px;">
                        Lista de correos separados por punto y coma al final de cada correo(;)
                    </span>
                </label>
            </div>
        </div>
    </td>
</tr>
<tr ng-hide="esClienteFlotillas">
    <td>
        <label class="control-label">
            Reporta
        </label>
        <label class="labelRed"> *</label>
    </td>
    <td ng-class="{'form-group has-feedback': isSelectReportaARequired,
                                                                    'form-group has-warning has-feedback': !isSelectReportaARequired}">
        <select name="selectReportaA" id="selectReportaA" ng-model="selectReportaA" class="form-control" ng-required="true" ng-change="registarDatosContactoModal()"
                ng-options="reportaA as reportaA.OrigenTicket.toUpperCase() for reportaA in reportaA">
            <option value="" ng-required="true" disabled="disabled">---Seleccionar---</option>
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <label class="control-label">
            Aseguradora
        </label>
        <label class="labelRed"> *</label>
        <div ng-class="{'form-group has-feedback': isSelectTiposTicketRequired,
                                                                        'form-group has-warning has-feedback': !isSelectTiposTicketRequired}">
            <select class="form-control" id="selectAseg" name="selectAseg" ng-disabled="disabledTiposTicket" ng-model="selectAsegTicket"
                    ng-options="aseg as aseg.Nombre for aseg in asegTicket track by aseg.Nombre" ng-required="true">
            </select>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label class="control-label">
            Estatus
        </label>
        <label class="labelRed"> *</label>
    </td>
    <td ng-class="{'form-group has-feedback': isSelectEstatusRequired,
                                                                   'form-group has-warning has-feedback': !isSelectEstatusRequired}">
        <select name="selectEstatusTickets" id="selectEstatusTickets" ng-model="selectEstatusTickets" class="form-control" ng-required="true"
                ng-options="estatusTicket as estatusTicket.Descripcion.toUpperCase() for estatusTicket in estatusTicket">
            <option value="" disabled="disabled">---Seleccionar---</option>
        </select>
    </td>
</tr>
</table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="guardarInformacion()">Guardar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cerrarNuevoTicketModal()">Cancelar</button>
</div>
</div>
</form>
</div>
</div>
<div class="modal" id="errorModal" title="Error" style="overflow-y: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead-warning">
                <button type="button" class="close" ng-click="cerrarErrorModal()" aria-hidden="true">x</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <alert type="warning" show="true" dismissable="false" class="text-left">
                        {{mensajeError}}
                        <!--<div ng-show="true" class="alert alert-warning alert-dismissable">
                            <div>
                                <div id="msgModalErrors" class="ng-scope">{{mensajeError}}</div>
                            </div>
                        </div>-->
                    </alert>
                </div>
                <div class="form-group text-right">
                    <button ng-click="cerrarErrorModal()" class="btn btn-warning">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="exitoModal" title="Error" style="overflow-y: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead-info">
                <button type="button" class="close" ng-click="cerrarExitoModal()" aria-hidden="true">x</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <alert type="warning" show="true" dismissable="false" class="text-left">
                        {{mensajeExito}}
                    </alert>
                </div>
                <div class="form-group text-right">
                    <button ng-click="cerrarExitoModal()" class="btn btn-info">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>