<section class="feature-area lvl-01" style="background-image: url(assets/img/login/BG01.jpg);">
    <div class="row">
        <div class="large-6 large-centered medium-10 medium-centered small-12 small-centered columns">
            <div class="generic-form">
                <div class="form-structure" id="logIn" style="background-color:rgba(244,245,245,0.6) !important;">
                    <div class="row">
                        <div class="large-10 medium-8 small-11 small-centered columns">
                            <label for="emailAddress">Usuario<span>*</span></label>
                            <input type="text" name="emailAddress" id="emailAddress" aria-required="true" required="" maxlength="8" ng-model="user.Username"/>
                            <input type="hidden" data-message="" disabled="disabled" id="usernameRequired" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-10 medium-8 small-11 small-centered columns">
                            <label for="logPassword">Contraseña<span>*</span></label>
                            <input type="password" name="log_password" id="logPassword" aria-required="true" maxlength="8" required="" ng-model="user.Password" />
                            <input type="hidden" data-message="" disabled="disabled" id="passwordRequired" />
                        </div>
                    </div>
                    <!--<div class="row security">
                        <div class="large-10 medium-8 small-11 small-centered columns">
                            <div vc-recaptcha
                                 theme="'light'"
                                 key="model.key"
                                 on-create="setWidgetId(widgetId)"
                                 on-success="setResponse(response)"
                                 on-expire="cbExpiration()"></div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="large-10 medium-8 small-11 small-centered columns">
                           <!--  <input type="submit" value="Iniciar" id="loginButton"  />   -->
                            <button ng-click="login()" class="submit-button" id="btnLogin">Iniciar</button>                                      
                            <div class="options">
                                <a href="#" class="forget-pswd"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-10 medium-8 small-11 small-centered columns" id="resultado">
                            <div id="mensajes" class="message blue" style="display: none;">
                                <div class="row">
                                    <div class="large-10 medium-7 small-10 small-centered columns">
                                        <div class="message-block">
                                            <div class="text">
                                                <p id="mensaje"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-2-set">
</div>
<!-- END | C5 Highlights Module w/scroll | Promo Slider  -->