<div class="row">
    <article class="col-sm-12">
        <fieldset class="borderBContent">
            <legend class="tituloLegend text-center">
                <span>Información del Cliente</span>
            </legend>

            <div class="separador">
                <div class="col-md-12 radioInputlist marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="labelOrange">Tipo de Persona</label>
                    </div>
                    <div class="col-md-4 paddingRight">
                        <label class="col-md-7" for="optPersonaFisica">Persona Física</label>
                        <input name="TipoPersona" ng-model="Informacion.Cliente.Cotizante.TipoPersona" id="optPersonaFisica" type="radio" value="Fisica"
                               ng-click="showPersonaFisica()" checked="checked">
                    </div>
                    <div class="col-md-5">
                        <label class="col-md-6" for="optPersonaMoral">Persona Moral</label>
                        <input name="TipoPersona" ng-model="Informacion.Cliente.Cotizante.TipoPersona" id="optPersonaMoral" type="radio" value="Moral"
                               ng-click="showPersonaMoral()">
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding" ng-show="optPersonaFisica">
                    <div class="col-md-3">
                        <label class="widthLabel" for="txtNombre">Nombre</label>
                    </div>
                    <div class="col-md-9 paddingRight">
                        <input ng-model="Informacion.Cliente.Cotizante.Nombre" class="inputText" name="txtNombre" id="txtNombre" type="text" placeholder="Nombre(s)">
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding" ng-show="optPersonaMoral">
                    <div class="col-md-3">
                        <label class="widthLabel" for="txtRazonSocial">Razón Social</label>
                    </div>
                    <div class="col-md-9 paddingRight">
                        <input ng-model="Informacion.Cliente.Cotizante.RazonSocial" class="inputText" name="txtRazonSocial" id="txtRazonSocial" type="text"
                               placeholder="Razón Social">
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding" ng-show="optPersonaFisica">
                    <div class="col-md-3">
                        <label class="widthLabel" for="txtPaterno">Paterno</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <input ng-model="Informacion.Cliente.Cotizante.ApellidoP" class="inputText" value="" id="txtPaterno" type="text" placeholder="Apellido Paterno">
                    </div>
                    <div class="col-md-3 sinPadding">
                        <label class="widthLabel" for="txtMaterno">Materno</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <input ng-model="Informacion.Cliente.Cotizante.ApellidoM" class="inputText" value="" id="txtMaterno" type="text" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel" for="txtTelefono">Teléfono</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <input ng-model="Informacion.Cliente.Cotizante.Telefono" class="inputText" value="" id="txtTelefono" type="text" placeholder="Teléfono" numbers-only
                               max="10" novalidate>
                    </div>
                    <div class="col-md-3 sinPadding">
                        <label class="widthLabel" for="txtCorreo">Correo Electrónico</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <input ng-model="Informacion.Cliente.Cotizante.CorreoElectronico" ng-blur="validarCorreo()" uib-popover="{{resultadoValidaEmail}}" class="inputText" value=""
                               id="txtCorreo" type="text" placeholder="nombre@dominio.com" validate-email>
                    </div>
                </div>
                <div class="col-md-12 marginDown">
                    <hr class="lineaSimple" />
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel" for="autocomplete">Negocio</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-9 paddingRight">
                        <input type="text" class="inputText" id="autocomplete"
                               ng-model="solicitud.clienteModel.Cliente"
                               autocomplete urlautocomplete="{{urlautocomplete}}"
                               minlength="{{minlength}}" params="{{solicitud}}"
                               issingleresponse="true"
                               targetmodel="targetModelo"
                               itemlabel="{{itemLabelAutocomplete}}"
                               itemvalue="{{itemValueAutocomplete}}"
                               selectedfunction="clienteSel"
                               ng-show="isCombo>20" />
                        <select ng-change="clienteSel(1)"
                                class="comboBox"
                                ng-model="Informacion.Cliente.Cliente"
                                required
                                ng-options="cliente.Cliente for cliente in Clientes track by cliente.ClienteId"
                                ng-if="isCombo<=20"></select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel" for="productoPersonalizado">Producto personalizado</label>
                        <input ng-change="productoFlexSel()" type="checkbox" ng-model="ProductoFlex" ng-disabled="ProductoFlex" id="productoPersonalizado" />
                    </div>

                    <div class="col-md-2">
                        <label class="widthLabelP" for="productos">Segmento</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-7">
                        <select class="comboBox" id="productos"
                                ng-model="Informacion.Cliente.Producto"
                                ng-change="productoSel()"
                                ng-options="producto.NombreProducto for producto in productos track by producto.ProductoId">
                        </select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding" ng-if="bndArrendamiento || bndAgencia">
                    <div class="col-md-3" ng-if="bndArrendamiento">
                        <label class="widthLabel" ng-click="cargaElementos()">Tipo Arrendamiento</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 sinPadding" ng-if="bndArrendamiento">
                        <select class="comboBox"
                                ng-model="Informacion.Cliente.TipoArrendamiento"
                                ng-change="cargaElementos()"
                                ng-options="tipoArrendamiento.Valor for tipoArrendamiento in TipoArrendamiento track by tipoArrendamiento.ValorId">
                        </select>
                    </div>
                    <div class="col-md-3" ng-if="bndAgencia">
                        <label class="widthLabel">Agencia</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="bndAgencia && !IsSessionAg">
                        <select class="comboBox"
                                ng-model="Informacion.Cliente.Agencia"
                                ng-options="agencia.Agencia for agencia in Agencias track by agencia.IdAgencia">
                        </select>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="bndAgencia && IsSessionAg">
                        <span>{{Agencias[0].Agencia}}</span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="borderBContent separador">
            <legend class="tituloLegend text-center">
                <span> Datos del Vehículo</span>
            </legend>
            <div class="separador">
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Tipo de Unidad</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-9 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.TipoUnidad"
                                ng-change="tipoUnidadSel()"
                                ng-options="tipoUnidad.Valor for tipoUnidad in TiposUnidad track by tipoUnidad.ValorId"></select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Antigüedad</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Antiguedad"
                                ng-change="antiguedadSel()"
                                ng-options="antiguedad.Valor for antiguedad in Antiguedad track by antiguedad.ValorId">
                        </select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Uso</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Servicio"
                                ng-change="servicioSel()"
                                ng-options="servicio.Valor for servicio in Servicios track by servicio.ValorId">
                        </select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Modelo</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Modelo"
                                ng-change="modeloSel()"
                                ng-options="modelo.Valor for modelo in Modelos track by modelo.Valor">
                        </select>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="bndLoJack">
                        <label class="widthLabel">Lo Jack</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="bndLoJack">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.LoJack"
                                ng-options="elemento.Nombre for elemento in elementosLoJack track by elemento.ElementoId">
                        </select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Armadora</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Armadora"
                                ng-change="armadoraSel()"
                                ng-options="armadora.Valor for armadora in Armadoras track by armadora.Valor">
                        </select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Categoría</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.SubMarca"
                                ng-change="submarcaSel()"
                                ng-options="submarca.Valor for submarca in SubMarcas track by submarca.Valor"></select>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Versión</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Version"
                                ng-change="cargarPasajeros()"
                                ng-options="version.Descripcion for version in Versiones track by version.Descripcion">
                        </select>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="bndCarga">
                        <label class="widthLabel">Carga</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="bndCarga">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Carga"
                                ng-change="cargaSel()"
                                ng-options="carga.Valor for carga in Cargas track by carga.Valor">
                        </select>
                    </div>
                    <div class="col-md-6 sinPadding" ng-if="bndPasajeros">
                        <div class="col-md-6 paddingRight">
                            <label class="widthLabel">Pasajeros</label>
                            <label class="labelRed" title="Obligatorio">*</label>
                        </div>
                        <div class="col-md-6 paddingRight">
                            <select class="comboBox"
                                    ng-model="Informacion.Vehiculo.Pasajero"
                                    ng-options="pasajero.Pasajeros for pasajero in Pasajeros track by pasajero.Pasajeros">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding" ng-if="bndFactura || Cargas[0].HabilitaRemolques">
                    <div class="col-md-6" ng-if="bndFactura">
                        <div class="col-md-6 paddingRight" ng-if="bndFactura">
                            <label class="widthLabel">Valor Factura</label>
                            <label class="labelRed" title="Obligatorio">*</label>
                        </div>
                        <div class="col-md-6 sinPadding" ng-if="bndFactura">
                            <input ng-model="$parent.Informacion.Vehiculo.Valor"  
                                   ng-blur="validarFactura()"                                 
                                   class="facturaText inputText"
                                   name="Length" maxLength="13"
                                   mask-money
                                   type="text"                                                                  
                                   format="currency">
                                  
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="Cargas[0].HabilitaRemolques && !bndFactura">
                        <label class="widthLabel">Remolques{{Cargas.HabilitaRemolques}}</label>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="Cargas[0].HabilitaRemolques && bndFactura">
                        <label class="widthLabel">Remolques{{Cargas.HabilitaRemolques}}</label>
                    </div>
                    <div class="col-md-3 paddingRight" ng-if="Cargas[0].HabilitaRemolques">
                        <select class="comboBox"
                                ng-model="Informacion.Vehiculo.Remolque"
                                ng-options="remolque.Nombre for remolque in Remolques track by remolque.ElementoId">
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="borderBContent separador">
            <legend class="tituloLegend text-center">
                <span>Datos de Cotización</span>
            </legend>
            <div class="separador">
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel" for="calendario">Inicio de Vigencia</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <table class="inputText">
                            <tr>
                                <td>
                                    <input ng-change="fechaSel()" popup-placement="top" class="inputText" type="text" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened"
                                           ng-required="true" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" ng-disabled="btnCalendario" id="calendario" />
                                </td>
                                <td class="btnCalendar">
                                    <span>
                                        <button class="btn btn-default btn-calendar" type="button" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <label class="widthLabel">Fin de Vigencia</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <input class="inputText" type="text" ng-model="dt2" disabled />
                    </div>
                </div>
                <div class="col-md-12 marginDown sinPadding">
                    <div class="col-md-3">
                        <label class="widthLabel">Plazo</label>
                        <label class="labelRed" title="Obligatorio">*</label>
                    </div>
                    <div class="col-md-3 paddingRight">
                        <select class="comboBox"
                                ng-model="Informacion.Cotizacion.Plazo"
                                ng-change="PlazoSel()"
                                ng-options="plazo.Valor for plazo in Plazo track by plazo.Valor"
                                ng-disabled="plazo">
                        </select>
                    </div>
                    <div class="col-md-6 sinPadding" ng-if="bndUDI">
                        <div class="col-md-6 paddingRight">
                            <label class="widthLabel">UDI</label>
                            <label class="labelRed" title="Obligatorio">*</label>
                        </div>
                        <div class="col-md-6 paddingRight">
                            <select class="comboBox"
                                    ng-model="Informacion.Cotizacion.Udi"
                                    ng-change="udiSel()"
                                    ng-options="udi.Valor for udi in Udis track by udi.Valor"
                                    ng-disabled="deshabilitaUdi">
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-show="showHideBuscar">
                    <div class="col-md-12 marginDown">
                        <hr class="lineaSimple">
                    </div>
                    <div ng-hide="showHideEstados">
                        <div class="col-md-12 marginDown sinPadding">
                            <div class="col-md-2">
                                <label for="txtCodigoPostal">Código Postal</label>
                            </div>
                            <div class="col-md-3">
                                <input ng-model="Informacion.Cotizacion.CP.CodigoPostal" ng-change="chgCodigoPostal()" class="inputText" name="txtCodigoPostal" id="txtCodigoPostal" type="text" placeholder="Código Postal"
                                       numbers-only max="5" novalidate required>
                            </div>
                            <div class="col-md-2">
                                <label for="txtColonia">Colonia</label>
                            </div>
                            <div class="col-md-3">
                                <input ng-model="Informacion.Cotizacion.CP.Colonia" ng-change="chgCodigoPostal()" class="inputText" name="txtColonia" id="txtColonia" type="text" placeholder="Colonia">
                            </div>
                            <div class="col-md-2">
                                <button ng-click="obtenerRegion()" class="btn btn-sm btnFntB">Buscar</button>
                            </div>
                        </div>
                        <div class="col-md-12 marginDown sinPadding">
                            <div class="col-md-1">
                                <label for="txtPais">País</label>
                            </div>
                            <div class="col-md-2">
                                <input ng-model="Informacion.Cotizacion.CP.Pais" class="inputText" name="txtPais" id="txtPais" type="text" disabled>
                            </div>
                            <div class="col-md-1">
                                <label for="txtEstado">Estado</label>
                            </div>
                            <div class="col-md-3">
                                <input ng-model="Informacion.Cotizacion.CP.Estado" class="inputText" name="txtEstado" id="txtEstado" type="text" disabled>
                            </div>
                            <div class="col-md-2">
                                <label for="txtDelegacion">Delegación</label>
                            </div>
                            <div class="col-md-3">
                                <input ng-model="Informacion.Cotizacion.CP.Delegacion" class="inputText" name="txtDelegacion" id="txtDelegacion" type="text" disabled>
                            </div>
                        </div>
                    </div>
                    <div ng-show="showHideEstados">
                        <div class="col-md-12 marginDown sinPadding">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <label for="cmbEstado">Estado de Circulación</label>
                            </div>
                            <div class="col-md-4">
                                <select class="comboBox"
                                        ng-model="Informacion.Cotizacion.Estado"
                                        ng-options="estados.Estado for estados in Estados track by estados.Estado">
                                </select>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
                <modal visible="modalBuscar" title="Búsqueda por C.P. / Colonia" id="modal_CP_Colonia" modalheadtype="infoMarsh" widthmodalsize="Info">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <td class="widthTitle_15 labelOrange">
                                            <label>País</label>
                                        </td>
                                        <td class="widthTitle_24 labelOrange">
                                            <label>Estado</label>
                                        </td>
                                        <td class="widthTitle_24 labelOrange">
                                            <label>Delegación</label>
                                        </td>
                                        <td class="widthTitle_24 labelOrange">
                                            <label>Colonia</label>
                                        </td>
                                        <td class="widthTitle_13 labelOrange">
                                            <label>Código Postal</label>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-model="buscar" dir-paginate="buscar in regiones | itemsPerPage: 10" ng-click="selectRegion(buscar)">
                                        <td>
                                            <label value="{{buscar}}">{{buscar.Pais}}</label>
                                        </td>
                                        <td>
                                            <label value="{{buscar}}">{{buscar.Estado}}</label>
                                        </td>
                                        <td>
                                            <label value="{{buscar}}">{{buscar.Delegacion}}</label>
                                        </td>
                                        <td>
                                            <label value="{{buscar}}">{{buscar.Colonia}}</label>
                                        </td>
                                        <td>
                                            <label value="{{buscar}}">{{buscar.CodigoPostal}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button ng-click="obtenerRegion()" class="btn btn-danger">Cerrar</button>
                    </div>
                </modal>
                <modal class="" visible="modalRequeridos" title="Elementos requeridos" id="modalRequeridos" modalheadtype="warning">
                    <div class="form-group">
                        <div class="table-responsive">
                            <label>Es necesario capturar:</label>
                            <span>{{requeridos}}</span>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button ng-click="hideRequeridos()" class="btn btn-danger">Cerrar</button>
                    </div>
                </modal>
                <modal class="" visible="modalRequeridosList" title="Elementos requeridos" id="modalRequeridos" modalheadtype="warning">
                    <div class="form-group">
                        <div class="table-responsive">
                            <span ng-show="showHideClienteList"> Información del Cliente, requiere la captura de:</span>
                            <ul>
                                <li ng-repeat="i in requeridosClienteList">{{i}}</li>
                            </ul>
                            <span ng-show="showHideVehiculoList"> Información del Vehículo, requiere la captura de:</span>
                            <ul>
                                <li ng-repeat="i in requeridosVehiculoList">{{i}}</li>
                            </ul>
                            <span ng-show="showHideCotizacionList"> Datos de Cotización, requiere la captura de:</span>
                            <ul>
                                <li ng-repeat="i in requeridosCotizacionList">{{i}}</li>
                            </ul>
                            <span ng-show="showHidePanelList"> Verifique panel de Coberturas/Aseguradoras, requiere la captura de:</span>
                            <ul>
                                <li ng-repeat="i in requeridosPanelList">{{i}}</li>
                            </ul>
                            <span ng-show="showHidePanel"> Nota: Para productos flexibles requiere de capturar el panel "Coberturas/Aseguradoras", verifique la configuración seleccionada.</span>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button ng-click="hideRequeridosList()" class="btn btn-danger">Cerrar</button>
                    </div>
                </modal>
                <modal class="" visible="modalSinResultados" title="Buscar" id="modalSinResultados" modalheadtype="info">
                    <div class="form-group">
                        <div class="table-responsive">
                            <span>{{resultado}}</span>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button ng-click="hideResultados()" class="btn btn-danger">Cerrar</button>
                    </div>
                </modal>
                <modal visible="modalWarning" title="Cotizador" id="modalWarning" modalheadtype="warning">
                    <div class="form-group">
                        <div class="table-responsive">
                            <span>{{warning}}</span>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button ng-click="hideWarning()" class="btn btn-danger">Cerrar</button>
                    </div>
                </modal>
                <!-- INDRA FJQP Proceso de Encontrack -->
                <modal visible="modalDisclaimer" title="Disclaimer Encontrack" id="modalDisclaimer" modalheadtype="infoMarsh" widthmodalsize="Info">
                    <div class="form-group">
                        <div class="table-responsive">
                            <p>
                                Disclaimer Encontrack
                            </p>
                            <br />
                            <br />
                            <p>
                                Beneficios de la cobertura:
                            </p>
                            <ul>
                                <li>Reducción 10% en el deducible de la cobertura de Robo Total</li>
                                <li> Contrarresta Doble deducible nocturno en la cobertura de Robo total</li>
                                <li>Encontrack tiene una efectividad en la recuperación del 80%</li>
                            </ul>
                            <br />
                            <p>
                                Para gozar de estos beneficios es importante:
                            </p>
                            <ul>
                                <li>Llenado de datos completos del Anexo A (Archivo adjunto)</li>
                                <li>El proveedor se pondrá en contacto con el asegurado a través de los datos compartidos en el Anexo A</li>
                                <li>Se tienen 30 días después de la emisión de la póliza para la entrega del contrato de comodato firmado (Archivo adjunto)</li>
                                <li>La reducción en deducible por RT será válida a partir de que la unidad tenga instalado el dispositivo.</li>
                                <li>Si en 45 días no se ha concretado la instalación se manda a revisión con Qualitas</li>
                            </ul>
                            <br />
                            <p>
                                Acepta los terminos y Condiciones?
                            </p>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button ng-click="AceptaEncontrack()" class="btn btn-danger">Aceptar</button>
                        <button ng-click="RechazaEncontrack()" class="btn btn-danger">Rechazar</button>
                    </div>
                </modal>
                <!-- INDRA FJQP Proceso de Encontrack -->
            </div>
        </fieldset>
    </article>
</div>