.infoConfig{
	background-color: #DFDFDF;
	height: 80px;
	border-radius: 3px;
	margin:20px 0 20px 0;
	padding: 10px;
}
.infoConfig p:first-child{
	color:#00A8C8 ;
	font-weight: bold;
}

/*Clases que Irving quito en el panel*/
.flex-itemP {
    text-align: center;
    width: 80px;
    float: left;
    height: 30px;
    margin-left: 20px;
    /*flex-grow:1;*/
}

.imgAseg{
    margin: 0 auto;
    width: 40px;
	height: 40px
}
.contCob{
	padding: 10px;
}
.contCobAseg{
	width:50%;
	float: left;
}
.modalSumasAseg{
	width: 70%;
}
.formGroup{
	margin-top: 20px;
}

.contentRangosConfig{
	width: 100%;
	height: 80px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #C6C6C6;
	overflow-y: scroll;
}
.sepConfig{
	border-left: 1px solid #7F7F7F;
}
.sepHConfig{margin-top: 20px;}
.sepRConfig{margin-top: 30px;}