<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <connectionStrings>
    <!--Datos de conexion BD-->
    <add name="conexion" connectionString="Server=USDF15V0024;uid=espejopruebas;password=12345678;database=AMQA" providerName="System.Data.SqlClient" />
    <!--<add name="conexion" connectionString="server=.\SQL2014;User Id=sa;password=pa$$w0rd;database=AMQA_QA" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ConeccionBiam" value="Server=USDF15V0024;uid=espejopruebas;password=12345678;database=AMQA" />
    <add key="ServidorSMTP" value="10.23.44.111" />
    <add key="Seguridad" value="0" />
    <add key="TICKETS_FILES_PATH" value="E:\AUTOMARSH\V3QASite\Framework45\NotificacionesTickets\NotificacionesTickets\Archivos_Tickets\" />
    <add key="TICKETS_FILES_REGISTRO" value="Registro/" />
    <add key="TICKETS_FILES_SEGUIMIENTO" value="Seguimiento/" />
    
    <add key="MailConfigSmtpUser" value="" />
    <add key="MailConfigSmtpPassword" value="" />
    <add key="MailConfigSmtpPort" value="25" />
    <add key="MailConfigSmtpSsl" value="false" />
    <add key="MailConfigSmtpHost" value="nasa1smtp.mmc.com" />   
    <add key="MailConfigSmtpDefaultCredentials" value="false" />
    <add key="MailConfigFrom" value="sistemamarsh@marsh.com" />
    <add key="MailCotizacionError" value="jramirez@visionconsulting.com.mx" />
    
    <add key="ArchivoQLT" value="Datos" />
    <add key="RutaQLT" value="c:\Bp_cargas\b_PeticionesWS\ErroresQLT\" />
    <add key="ArchivoQLTSalida" value="DatosSalida" />
    <add key="ArchivoZipQLT" value="InformacionMovimiento" />
    <add key="RutaABA" value="c:\Bp_Cargas\b_PeticionesWS\ErroresABA\" />
    <add key="ArchivoABAEntrada" value="DatosXMLEntrada" />
    <add key="ArchivoABASalida" value="DatosXMLSalida" />
    <add key="ArchivoZipABA" value="InformacionXMLMovimientoABA" />
    <add key="MailConfigSmtpUseCredentials" value="false" />
    <add key="Reporte" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\ReporteCotizacion.rdlc" />
    <add key="ReporteTicket" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\ReporteTicket.rdlc" />
    <!--<add key="ImgReport" value="file:///C:\Automarsh\Framework45\AM45Secure\AM45Secure.Business\imgReport\" />-->
    <add key="FolletoMarsh" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\Folletos\MMC_SF.pdf" />
    <add key="FolletoAseguradora" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\Folletos\QLT_SF.pdf" />
    <add key="FolletoZurich" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\Folletos\ZURICH_SF.pdf" />

    <add key="ImgLogo" value="file:///E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\imgReport\LogoSegurisimo.png" />
    <add key="wsEmisionService" value="http://qa.qualitas.com.mx:8106/WsEmision/wsEmision.asmx" />
    <add key="wsRFC" value="http://qa.automarshprueba.com.mx/Automarsh.Interop/RFC.asmx" />
    <add key="ImgReport" value="file:///E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Reportes\imgReport\ID" />
    <add key="CondicionesGralesQlt" value="https://www.qualitas.com.mx/portal/web/qualitas/condiciones-generales1;jsessionid=NgFC6QJ4zea0NdPongwmJw0p0L9TVPUFrjaKFXS5ZODbsuILSVAU!-1011753518!1503083703259" />
    <add key="CondicionesGralesAutos" value="https://www.qualitas.com.mx/portal/documents/10180/1416bffa-49b4-411c-b2a1-7ec8c43df74a" />
    <add key="CondicionesGralesCamiones" value="https://www.qualitas.com.mx/portal/documents/10180/d304141a-77ba-4c38-9895-b5a910709912" />
    <add key="HeaderMail" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Imagenes\HEADER_NUEVO.png" />
    <add key="FooterMail" value="E:\AUTOMARSH\V3QASite\Framework45\AM45Secure.RESTService\Imagenes\FOOTER_NUEVO.png" />
    <add key="URLMail" value="automarsh.com" />

    <add key="Achivos_FILES_PATH" value="C:/AUTOMARSH/V3QASite/Framework45/Manuales/" />
    <add key="ReporteEmail" value="C:/inetpub/wwwroot/AM45Secure.RESTService/AM45Secure.Business/Reportes/ReporteCorreo.rdlc" />
    <add key="Documentos_coberturas" value="C:/AUTOMARSH/DocumentosCobertura/" />
    <add key="QLTSEncontrack" value="C:/tmp/Cotizador/Imprimir/Documentos Encontrack.zip" />
    <add key="Imagen_Cliente_PATH" value="C:/AUTOMARSH/V3QASite/Framework45/ImagenCliente/" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10240" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="es" culture="es-MX" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,POST" />
        <add name="Access-Control-Allow-Headers" value="Accept,Accept-Language,Content-Language,Content-Type,Authorization" />
        <add name="Access-Control-Allow-Origin" value="http://localhost" />
      </customHeaders>
    </httpProtocol>-->
    <security>
      <requestFiltering>
        <!--10MB-->
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <log4net>
    <appender name="AM45SecureAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\tmp\MarshLogs\AM45Secure.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="AM45SecureAppender" />
    </root>
  </log4net>
</configuration>