<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
        <defaultDocument>
            <files>
                <add value="Inicio.aspx"/>
            </files>
        </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="usuarioIke" value="SISEMARSH"/>
    <add key="passIke" value="4d79a77931094fba915d4b64aece2cd17e156ae5a683b2414a38f27a1943b0c2"/>
    <add key="CertificadoIke" value="E:\AUTOMARSH\V3QASite\Framework45\MMC.MarshLivingSafe.Presentation\Certificados\Ike\certificadoIke.pdf"/>
    <add key="URLSuite" value="https://qa.automarshprueba.com.mx/MMCSuite/"/> 
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DatosImpSoap"/>
        <binding name="EmisionSuiteSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://qa.automarshprueba.com.mx/MMC.LAC.Identificacion/DatosImp.asmx" binding="basicHttpBinding" bindingConfiguration="DatosImpSoap" contract="WsImpresion.DatosImpSoap" name="DatosImpSoap"/>
      <endpoint address="http://qa.automarshprueba.com.mx/MMC.LAC.Identificacion/EmisionSuite.asmx" binding="basicHttpBinding" bindingConfiguration="EmisionSuiteSoap" contract="WSEmisionSuite.EmisionSuiteSoap" name="EmisionSuiteSoap"/>
    </client>
  </system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
<!--ProjectGuid: {A3CCB9C3-DF3F-4F7F-AA68-1B8400F52B88}-->
