.row
	.col-md-12
		.text-center
			h1 EarthQuake Framework - AngularJS
			p.lead.
				Esta es la estructura base para un proyecto en Angular.
				<br>
				En el encontraras la estructura de directorios para estructurar tu proyecto.
			button(ng-click="goHome()").btn.btn-primary Ir al Home