<div class="panelReporte">
    <br/>
    <div class="panel panel-primary">
        <!--<div class="panel-heading"></div>-->
        <div class="contentPanelReporte">
            <br/>
            <div class="form-horizontal">
                <div class="widthContentPanelReporte row">
                    <div class="formBuscarReportes">
                        <div class="col-md-1">
                            <label for="fechaInicio">Inicio:</label>
                        </div>
                        <div class="col-md-2">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="FechaInicio" is-open="popup1.opened"
                                    datepicker-options="dateOptions" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar"
                                    ng-readonly="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-1">
                            <label for="fechaFin">Fin:</label>
                        </div>
                        <div class="col-md-2">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="FechaFin" is-open="popup2.opened" datepicker-options="dateOptions"
                                    current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" ng-readonly="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <!-- Combo estatus -->
                        <div class="col-md-1">
                            <label for="status">Estatus:</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="status" name="status" ng-model="estatusTicket" ng-options="estatusTicket as estatusTicket.Descripcion for estatusTicket in estatusTickets"></select>

                        </div>

                        <!-- Badge -->
                        <div class="col-md-2">
                            <dt>Abiertos
                                <span class="badge">{{abiertos}}</span>
                            </dt>
                            <dt>Terminados
                                <span class="badge">{{Terminados}}</span>
                            </dt>
                            <dt>En espera
                                <span class="badge">{{espera}}</span>
                            </dt>
                            <dt>Total
                                <span class="badge">{{abiertos + Terminados + espera}}</span>
                            </dt>
                        </div>

                        <!-- Listado de Tickest -->

                    </div>
                    <div class="form-group">
                        <!-- Botones -->
                        <div class="col-sm-offset-5 col-sm-10">
                            <input type="button" class="btn btn-info" value="Buscar" ng-click="buscarTickets()" />
                            <a id="exportReporte" ng-click="exportarExcel()">
                                <input type="button" class="btn btn-info" value="Exportar" />
                            </a>

                        </div>
                    </div>
                    <!-- Listado de Tickest -->
                    <div class="form-group">
                        <div class="table-responsive">
                            <table id="tablaReportes" class="centrarTabla table table-hover table-condensed table-striped">
                                <thead>
                                    <tr class="info">
                                        <th>No.</th>
                                        <th>Fecha atención</th>
                                        <th>Fecha recepci&oacute;n</th>
                                        <th>Cliente</th>
                                        <th>Carátula</th>
                                        <th>Tipo de ticket</th>
                                        <th>Responsable</th>
                                        <th>Aseguradora</th>
                                        <th>Tiempo de atenci&oacute;n</th>
                                        <th>Estatus</th>
                                    </tr>
                                </thead>
                                <tr dir-paginate="tre in ticketsReporte | itemsPerPage: 50">
                                    <td>{{ tre.TicketId }}</td>
                                    <td nowrap>{{ tre.FechaRegistro }}</td>
                                    <td nowrap>{{ tre.FechaRecepcion }}</td>
                                    <td>{{ tre.Cliente }}</td>
                                    <td>{{ tre.Caratula }}</td>
                                    <td>{{ tre.DescripcionTicket }}</td>
                                    <td>{{ tre.NombrePer + " " + tre.PaternoPer + " " + tre.MaternoPer }}</td>
                                    <td>{{ tre.Nombre }}</td>
                                    <td ng-if="tre.CveEstatus == '6' || tre.CveEstatus == '7'" class="text-success">
                                        <dt>{{ tre.TiempoAtencion}}</dt>
                                    </td>
                                    <td ng-if="tre.CveEstatus != '6' && tre.CveEstatus != '7' && !tre.EstatusAtencion" class="text-danger">
                                        <dt>{{ tre.TiempoAtencion }}</dt>
                                    </td>
                                    <td ng-if="tre.CveEstatus != '6' && tre.CveEstatus != '7' && tre.EstatusAtencion" class="text-success">
                                        <dt>{{ tre.TiempoAtencion }}</dt>
                                    </td>
                                    <td ng-if="tre.CveEstatus == '6' || tre.CveEstatus == '7'" class="text-success">
                                        <dt>{{ tre.DescripcionEstatus }}</dt>
                                    </td>
                                    <td ng-if="tre.CveEstatus != '6' && tre.CveEstatus != '7'" class="text-danger">
                                        <dt>{{ tre.DescripcionEstatus }}</dt>
                                    </td>
                                </tr>
                            </table>
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
                </div>

                <hr/>
                <!-- Modal -->
                <modal visible="showModal" title="Mensaje del sistema" id="modal" modalheadtype="info">
                    <div class="form-group">
                        <alert type="info" show="true" dismissable="false" class="text-left">
                            {{mensaje}}
                        </alert>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-9 col-md-1">
                            <button ng-click="toggleModal()" class="btn btn-danger">Cerrar</button>
                        </div>


                    </div>
                </modal>
                <modal visible="showModalCampos" title="Mensaje del sistema" id="modal" modalheadtype="warning">
                    <div class="form-group">
                        <alert type="warning" show="true" dismissable="false" class="text-left">
                            Se requiere la captura de los siguientes campos:
                            <br>
                            <ul>
                                <li ng-if="camposValidar.FechaInicio">Fecha Inicio</li>
                                <li ng-if="camposValidar.FechaFin">Fecha Fin</li>
                                <li ng-if="camposValidar.DescripcionEstatus">Estatus</li>
                            </ul>
                        </alert>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-9 col-md-1">
                            <button ng-click="toggleModalCampos()" class="btn btn-danger">Cerrar</button>
                        </div>
                    </div>
                </modal>
            </div>
        </div>
    </div>
</div>