<div class="social-module-container">
    <div class="row social-module">
        <nav class="small-12 medium-4 large-3 columns">
            <ul class="social-nav">
                <li class="linkedin icon"><a href="#"></a></li>
                <li class="facebook icon"><a href="#"></a></li>
                <li class="youtube icon"><a href="#"></a></li>
            </ul>
        </nav>
    </div>
</div>
    <!-- START | Optc Nav -->
<div class="optco-container">
    <div class="row optco-nav">
        <div class="logo-container large-4 columns">
            <img alt="" src="assets/img/footer/MMC_h_rev-4spot.png" />
        </div>
        <div class="large-8 columns optco-secondary">
            <ul class="optco-list"> 
                <li>
                <!--    <a href="#">-->
                    <img alt="" src="assets/img/footer/G05-MARSH.png" /></a></li>
                 <li>
                <!--<a href="#"> 
                    <img alt="" src="images/G05-GC.png" /></a></li>
                <li><a href="#">-->
                    <img alt="" src="assets/img/footer/G05-MERCER.png" /></a></li>
               <!--   <li>
               <a href="#">
                    <img alt="" src="images/G05-OW.png" /></a></li> -->
            </ul>
        </div>
    </div>
</div>
    <!-- END | Optc Nav -->
    <!-- START | Policies Menu -->
<div class="policies-container">
    <div class="row">
        <div class="copyright medium-5 columns">
            <p>&#169; 2014 Marsh & Mclennan Companies</p>
        </div>
        <div class="medium-7 columns">
            <ul class="policy-links">
                <!--<li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Careers</a></li>-->
            </ul>
        </div>
    </div>
</div>
<!-- END | Policies Menu -->