<!-- START | Header Utility Nav -->
<div class="utility-nav">
    <div class="utility-wrap">
        <div class="country-container">
            <!--<a id="activeCountry" class="current-country-language" href="#">
                <span class="show-for-medium-up">México</span>
                <span class="show-for-small-only">MX</span>
            </a>-->
            <!--<a id="activeLanguage" class="current-country-language" href="#">
                <span class="show-for-medium-up">Español</span>
                <span class="show-for-small-only">ES</span>
            </a>-->
        </div>
        <div class="utility-forms logged-on">
            <!-- Sign in -->

            <div class="profile-container_nombre-usuario">
                <div class="NombreUsuarioTop">
                    <h4>{{persona}}</h4> <!--INDRA FJQP Nombre de Usuario en Pantalla de Inicio-->
                </div>
            </div>
            <div ng-if="bLogOut" class="profile-container">
                <!--INDRA FJQP Nombre de Usuario en Pantalla de Inicio-->
                <a class="has-sub tablet" href="#"></a>
                <div class="profile sub-menu">
                    <div class="sub-menu-wrap">
                        <ul>
                            <li>
                                <form id="credentials" class="credential-form">
                                    <div class="login-container">
                                        <button id="signOut" class="log-state" name="submit" type="submit" ui-sref="/">Salir</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END | Header Utility Nav -->
<!-- START | Main Nav -->
<div id="mainNav" class="main-nav">
    <div class="main-nav-inner">
        <!-- Logo -->
        <div class="logo-container">
            <a href="#">
                <img alt="" src="assets/img/header/logo-marsh.svg" />
            </a>
        </div>
        <div class="logo-container">
        </div>
        <!-- List Menu -->
        <div class="main-nav-container">
            <a class="nav-icon-link" href="#">
                <!-- <div class="nav-icon"></div>
                <span>MENU</span> -->
            </a>
            <nav>
                <ul class="main-nav-wrapper"></ul>
            </nav>
        </div>
    </div>
    <div class="clear-both"></div>
    <div class="profile-menu">
        <div class="row">
            <div id="welcome_user" class="medium-7 columns">
                <h1>{{tittle}}</h1>
            </div>
        </div>
    </div>
</div>
<!-- END | Main Nav -->
