<!-- INDRA FJQP EMISION MULTIPLE -->
<div ng-show="EsNormal">
    <h5>{{printHeader}}</h5>
    <div>Los datos de tu póliza son:</div>
    <div><b>Póliza: </b>{{policy}}</div>
    <div><b>Inciso: </b>{{subsection}}</div>
    <div><b>Endoso: </b>{{endorsement}}</div>
    <div><b>Inicio de vigencia: </b>{{startDate}}</div>
    <div><b>Por favor revise los documentos anexos a su póliza:</b></div>
    <div>Documentos proporcionados</div>
    <hr />
    <div>
        <ul>
            <li ng-repeat="(key, value) in documents">{{key}} : <a href="{{value}}" target="_blank">{{value}}</a></li>
        </ul>
        <ul>
            <li ng-repeat="folleto in folletos" ng-if="folleto.Show">
                <a ng-click="descargarArchivo(folleto.Value)">{{folleto.Key}}</a>
            </li>
        </ul>
    </div>
    <div>
        <span class="labelOrange">
            Información Aseguradora
        </span>
        <ul>
            <li ng-repeat="(key, value) in condicionesGrales">
                <a href="{{value}}" target="_blank">{{key}}</a>
            </li>
        </ul>
    </div>
</div>
<div ng-show="EsMultiple">
    <div ng-repeat="polEmi in polizasEmitidas">
        <h5>{{polEmi.printHeader}}</h5>
        <div>Los datos de tu póliza son:</div>
        <div><b>Póliza: </b><span class="labelOrange">{{polEmi.sPolizaQLT}}</span></div>
        <div><b>Inciso: </b>{{polEmi.iInciso}}</div>
        <div><b>Endoso: </b>{{polEmi.iEndoso}}</div>
        <div><b>Inicio de vigencia: </b>{{startDate}}</div>
        <div><b>Por favor revise los documentos anexos a su póliza:</b></div>
        <div>Documentos proporcionados</div>
        <hr />
        <div>
            <ul>
                <!--<li ng-repeat="(key, value) in documentsS.Documentos">{{key}} : <a href="{{value}}" target="_blank">{{value}}</a></li>-->
                <li ng-repeat="docum in documentsS.Documentos | filter:{ $:polEmi.sPolizaQLT}">
                    <div ng-repeat="(key, value) in docum">
                        {{key}} : <a href="{{value}}" target="_blank">{{value}}</a>
                    </div>
                </li>
            </ul>
            <ul>
                <li ng-repeat="folleto in folletosM.Doc[$index]" ng-if="folleto.Show">
                    <a ng-click="descargarArchivo(folleto.Value)">{{folleto.Key}}</a>
                </li>
            </ul>
        </div>
        <div>
            <span class="labelOrange">
                Información Aseguradora
            </span>
            <ul>
                <li ng-repeat="(key, value) in condicionesGrales">
                    <a href="{{value}}" target="_blank">{{key}}</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
</div>
<!-- INDRA FJQP EMISION MULTIPLE -->
<!-- INDRA FJQP Sumary -->
<modal visible="modalSumary" title="Resumen de Emisión" id="modalSumary" modalheadtype="warning">
    <div class="form-group">
        <div class="table-responsive">
            <p>
                Resumen de Emisión
            </p>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                <th>Cotización</th>
                <th>Cot. Generadas</th>
                <th>Polizas Emitidas</th>
                <th>Polizas Con Error</th>
                </thead>
                <tbody>
                    <tr ng-repeat="sumar in Sumarios">
                        <th scope="row">{{sumar.idNoCotizacion}}</th>
                        <th scope="row">{{sumar.intCotGen}}</th>
                        <th scope="row">{{sumar.intPolEmi}}</th>
                        <th scope="row">{{sumar.PolNoEmi}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group text-right">
        <button ng-click="AceptaSumary()" class="btn btn-danger">Aceptar</button>
    </div>
</modal>
<!-- INDRA FJQP Proceso de Encontrack -->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped table-bordered">
            <thead>

            <th># Cobertura</th>
            <th>Nombre Cobertura</th>
            <th>Descargar</th>
            </thead>
            <tbody>
                <tr ng-repeat="docs in CoberturasDocumentos">
                    <th scope="row">{{docs.IdCobertura}}</th>
                    <th scope="row">{{docs.Nombre}}</th>
                    <!--<th scope="row">{{docs.UrlArchivoCobertura}}</th>-->
                    <td style="border-right:10px" data-toggle="tooltip" title="Descargar Archivo"><span ng-click="descargarArchivo(docs.UrlArchivoCobertura)" class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
